* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #6b03fc;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #6b03fc;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0, 0.25);
}

header h1 a:hover {
    color: white;
    text-shadow: rgba(0,0,0, 0.75);
    background-color: #6b03fc;
    border-radius: 15px;
    padding: 5px;
}

header h1 a {
    text-decoration: none;
    color: #6b03fc;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: #6b03fc;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0,0,0, 0.25);
}

header nav ul li a:hover {
    color: white;
    text-shadow: rgba(0,0,0, 0.75);
    background-color: #6b03fc;
    border-radius: 15px;
}

footer {
    background-color: #6b03fc;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex: wrap
}

footer h2 {
    color: #03a9fc;
    font-size: 30px;
    margin: 0;
}

section {
    padding: 60px;
}

.hero {
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: fixed;
    background-position: 80%;
    padding: 100px;
    align-items: center;
}

.hero img {
    width: 180px;
    height: 220px;
    float: left;
    border-radius: 15%;
    box-shadow: 1px 1px 1px #777;
}

.hero h3 {
    font-size: 48px;
}

.about-me, .work {
    display: flex;
    flex-wrap: wrap;
}

.about-me p {
    padding: 0 15px;
    line-height: 1.7;
    color: black;
    width: 70%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}

.work h2, .contact-me h2, .about-me h2  {
    font-size: 48px;
    color: #6b03fc;
    border-right: 3px solid #03a9fc;
    padding-bottom: 10px;
    text-align: center;
    width: 30%;
    align-items: center;
}

.work-items {
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.own-row img {
    width: 750px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 1.5px #777;
}

.own-row img:hover {
    opacity: 0.8;
}

.shared-rows img:hover {
    opacity: 0.8;
}

.flex-row {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-row img {
    width: 350px;
    height: 250px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #777;
}

.flex-row h4, .own-row h4 {
    position: relative;
    width: 110px;
    justify-self: center;
    border-radius: 10px;
    bottom: 45px;
    left: 16px;
    background-color: aqua;
    padding: 4px;
}

.contact-info, .contact-me {
    display: flex;
    flex-wrap: wrap;
}

.contact-info ul li a {
    text-decoration: none;
    color: #6b03fc;
}

.contact-info ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info ul li {
    margin: 0 25px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .shared-rows {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        display: flex;
    }

    footer h2 {
        justify-content: center;
    }

    .hero h3 {
        text-align: center;
        font-size: 29px;
    }

    .about-me h2, .work-title, .contact-me h2 {
        width: 85%;
        border-bottom: 3px solid #03a9fc;
        border-right: none;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .about-me p {
        text-align: center;
    }

    section {
        padding: 30px 15px;
    }

    .work h2 {
        flex: 1 100%;
        text-align: center;
    }

    .work-items {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .about-me p {
        text-align: center;
    }

    .contact-info {
        display: flex;
    }

    .contact-info ul li {
        flex-wrap: wrap;
        text-align: center;
        padding: 10px;
        width: 100%
    }
}




